@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary Colors */
    --jm-primary-color: #27374d;

    /* Secondary Colors */
    --jm-secondary-color: #9db2bf;

    /* Neutral Colors */
    --jm-neutral-color: #dde6ed;

    --jm-gold-color: #ffd95a;

    /* Other Colors */
    --jm-pink-color: #ff99cc;

    --jm-danger-color: #ff0000;

    --jm-turquoise-color: #00ffcc;

    --jm-orange-color: #ff6600;

    --jm-purple-color: #9900ff;

    /* General Colors */
    --jm-white: #ffffff;
    --jm-black: #000000;
}
